header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: beige;
}
.header-items {
    display: flex;
    flex-direction: row;
}
.header-items li {
    list-style: none;
    margin: 5px;
    margin-top: 15px;
    border-bottom: 5px solid blue;
}
.subtitle {
    background-color: darkgreen;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    
}
.Profile{
    display: flex;
    justify-content: center;
    align-items: center;
}
.subtitle h2 {
    background-color: black;
    width: 250px;
    color: lightskyblue;
    padding: 5px;
}
.About-Me {
    display: flex;
    flex-direction: row;
}
.About-Me h2 {
    width: 20%;
    text-align: right;
    border-right: 3px solid greenyellow;
    margin: 5px;
    padding: 5px;
}
.About-Me p {
    margin: 5px;
    padding: 5px;
    width: 80%;
}
.Work {
    display: flex;
    flex-direction: row;
}
.Work h2 {
    width: 20%;
    text-align: right;
    border-right: 3px solid greenyellow;
    margin: 5px;
    padding: 5px;
}
.Work section {
    margin: 5px;
    padding: 5px;
    width: 80%;
}
.Row1 {
    border: 2px solid black;
    height: 150px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin: 5px;
}
.text {
    border: 2px solid purple;
    width: 100px;
    padding: 0px;
    margin: 5px;
}
.Row2, .Row3 {
    display: flex;
    flex-direction: row;
}
.Row2 a, .Row3 a {
    width: 50%;
}
.Project2, .Project3, .Project4, .Project5 {
    border: 3px solid black;
    margin: 5px;
}

.Contact-Me {
    display: flex;
    flex-direction: row;
}
.Contact-Me h2 {
    width: 20%;
    text-align: right;
    border-right: 3px solid greenyellow;
    margin: 5px;
    padding: 5px;
}
.Contact-Me section {
    margin: 5px;
    padding: 5px;
    width: 80%;
}
.Info-links {
    display: flex;
    justify-content: space-between;
}


@media only screen and (max-width: 400px) {
    .Info-links {
        flex-direction: column;
    }


    
}